.CustomerView {
  background-color: #D51A1F; /* Panda Express red */
  min-height: 100vh;
}

.cardSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
}

.black-button {
  padding: 30px 100px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  margin: 0 10px; /* Space between buttons */
}

.black-button:hover {
  background-color: #333; /* Darker black for hover effect */
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distributes space between items */
  padding: 0 50px; /* Optional padding for the container */
}

.logo {
  max-width: 150px; /* Adjust the size of the logo */
  height: auto;
  margin: 0 20px; /* Optional margin for spacing around the logo */
}
.padding {
  margin-top: 20px; /* Reduced margin to avoid excessive space */
  padding: 0px; /* Optional padding if you need inner space */
  background-color: transparent; /* Change or remove background if not required */
}
