.nav-pills {
    gap: 1rem;
}

.nav-item {
    background-color: rgb(135, 30, 45);
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.nav-link {
    color: white !important;

}

.nav-link.active {
    color: white;
    background-color: black !important;
}

.nav-item:hover {
    background-color: rgb(157, 38, 54);
}
