.MenuBoardView {
    background-color: white; /* Panda Express red */
    min-height: 100vh;
}

.cardSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 40px;
    font-weight: bold;
}
.subHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
}

.black-button {
    padding: 30px 100px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    margin: 0 10px; /* Space between buttons */
}

.black-button:hover {
    background-color: #333; /* Darker black for hover effect */
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distributes space between items */
    padding: 0 50px; /* Optional padding for the container */
}
.button-container h1 {
    font-weight: bold;
}

.logo {
    max-width: 150px; /* Adjust the size of the logo */
    height: auto;
    margin: 0 20px; /* Optional margin for spacing around the logo */
}

.padding {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Optional: centers vertically */
    margin-top: 16px;       /* Optional: spacing above the tabs */
}


.smallImage{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 5px;
}