/* Button.css */
.custom-button {
    background-color: #333333; /* Default button color */
    color: white; /* Button text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 15px 20px; /* Padding for the button */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition effect */
    margin: 5px; /* Margin between buttons */
    flex: 1; /* Allow buttons to grow */
}

.custom-button:hover {
    background-color: orange; /* Change background on hover */
}

.active {
    background-color: black; /* Active button color (Panda Express red) */
    color: white; /* Active button text color */
}

.button-container-bottom {
    display: flex;
    justify-content: space-around; /* Space buttons evenly */
    position: fixed; /* Keep at the bottom of the screen */
    bottom: 0; /* Align at the bottom */
    width: 100%; /* Full width */
    padding: 10px 0; /* Padding for container */
    left: 0;
    z-index: 1000; /* Ensure it's above other content */
}
